<template>
<div class="container">
    <ContainerNotes v-if="$route.name === 'Dashboard'"></ContainerNotes>
    <Note v-if="$route.name === 'Edit Note' || $route.name === 'Create Note'"></Note>
</div>
</template>

<script>
import ContainerNotes from '@/components/ContainerNotes.vue'
import Note from '@/components/Note.vue'

export default {
  name: 'Dashboard',

  components: {
    ContainerNotes,
    Note
  }
}
</script>