<template>
  <div class="home">
    <LoginForm></LoginForm>
  </div>
</template>

<script>
import LoginForm from '@/components/LoginForm.vue'

export default {
  name: 'Home',
  components: {
    LoginForm
  },

  computed: {
    session() {
      return this.$store.state.token
    }
  },

  mounted() {
      if(this.session) {
        this.$router.push('/dashboard')    
      }
  }
}
</script>

<style lang="scss" scoped>
  .home {
    display: flex;
    flex: 40% 60%;
    height: 100vh;  
  }

  .login {
    flex: 1;
    position: relative;
  }
</style>