<template>
    <div
        v-highlight
        class="editor"
        :key="highlightKey"
        @mouseover="showOptions = true"
        @mouseleave="showOptions = false"
    >
        <div class="language-wrapper">
            <div
                class="language-selector"
                @click="showLanguages"
                :class="{'show': languageOptions}"
            >
                {{ codeBlock.currLang }}
                <img
                    src="@/assets/icons/icon_arrow_down.svg"
                    alt="select language"
                />
            </div>
            <ul v-show="languageOptions">
                <li
                    v-for="(language, index) in languages"
                    :key="index"
                    @click="switchLanguage(index)"
                >{{ language }}</li>
            </ul>
        </div>

        <pre :class="'language-' + codeBlock.currLang" :style="codeStyle">
			<textarea
    ref="editor"
    v-model="codeBlock.currCode"
    spellcheck="false"
    :block="block"
    :noteID="noteID"
    :style="codeStyle"
    @focus="handleTabs"
>
			</textarea>
			<code :style="codeStyle" v-html="escapedCode"></code>
		</pre>
    </div>
</template>

<script>
import debounce from 'lodash.debounce'
import { api } from '@/api'

export default {
    name: 'Code',

    props: {
        noteID: String,
        block: {
            id: Number,
            value: String,
        },
    },

    data() {
        return {
            codeBlock: {
                currLang: 'js',
                currCode: 'const sayHello = (val) => {\n console.log(val) \n} \n\nsayHello("Hello world!")',
            },
            scrollHeight: 200,
            highlightKey: +new Date(),
            selectionStart: 0,
            languages: ['js', 'css', 'html'],
            languageOptions: false,
        }
    },

    created() {
        this.debounceContent = debounce(this.saveContent, 500)

        if (this.block.content) {
            this.codeBlock = JSON.parse(this.block.content)
        }
    },

    computed: {
        escapedCode() {
            return this.codeBlock.currCode
                .replace(/&/g, '&amp;')
                .replace(/</g, '&lt;')
                .replace(/>/g, '&gt;')
                .replace(/"/g, '&quot;')
                .replace(/'/g, '&#039;')
        },

        codeStyle() {
            return {
                height: this.scrollHeight + 'px',
            }
        },
    },

    methods: {
        saveContent(switchLang) {
            if (this.block.content) {
                if (this.codeBlock.currCode !== JSON.parse(this.block.content).currCode || switchLang) {
                    // Only post if changes are made
                    this.postData()
                }
            } else {
                this.postData()
            }
        },

        postData() {
            api.post(
                '/saveBlockContent',
                {
                    noteID: this.noteID,
                    id: this.block.id,
                    type: this.block.type,
                    content: JSON.stringify(this.codeBlock),
                },
                { headers: { Authorization: this.$store.state.token } }
            ).then((response) => {
                this.$emit('saveNoteEv')
            })
        },

        showLanguages() {
            this.languageOptions = !this.languageOptions
        },

        switchLanguage(index) {
            this.showLanguages()
            this.codeBlock.currLang = this.languages[index]
            this.highlightKey++ // force re-render of component
            this.saveContent(true)
        },

        restoreCurPos(pos) {
            this.$refs.editor.selectionStart = pos
            this.$refs.editor.selectionEnd = pos
        },

        handleTabs(el) {
            el.target.addEventListener('keydown', (e) => {
                if (e.keyCode === 9) {
                    e.preventDefault()
                    let elem = e.target,
                        start = elem.selectionStart,
                        end = elem.selectionEnd,
                        content = this.codeBlock.currCode,
                        insertSpaces = '    '

                    this.codeBlock.currCode = content.slice(0, start) + insertSpaces + content.slice(end) // Update currCode
                    elem.selectionStart = elem.selectionEnd = start + insertSpaces.length // reset cursor position
                }
            })
        },
    },

    watch: {
        'codeBlock.currCode': {
            handler: function(after, before) {
                this.$refs.editor.style.height = 0
                this.scrollHeight = this.$refs.editor.scrollHeight
                this.selectionStart = this.$refs.editor.selectionStart // save current position
                this.highlightKey++ // force re-render of component
                this.$nextTick(() => this.$refs.editor.focus())
                this.$nextTick(() => this.restoreCurPos(this.selectionStart))
                this.debounceContent()
            },
            deep: true,
        },
    },
}
</script>

<style lang="scss" scoped>
.editor {
    max-width: 768px;
    width: 100%;
    min-height: 200px;
    position: relative;
    overflow: auto;
    margin: 0 auto;

    .language-wrapper {
        width: 55px;
        position: absolute;
        top: 11px;
        right: 4px;
        text-align: center;

        .language-selector {
            background: rgba(255, 255, 255, 0.1);
            padding: 5px;
            position: relative;
            border-radius: 3px;
            color: $white;
            font-size: $normal - 2;
            cursor: pointer;
            z-index: 3;

            &::selection {
                background: transparent;
            }

            &.show {
                border-radius: 3px 3px 0 0;
            }

            img {
                max-width: 8px;
                vertical-align: middle;
                margin-left: 5px;
            }
        }

        ul {
            @extend .language-selector;
            margin: 0;
            list-style: none;
            border-radius: 0 0 3px 3px;

            li {
                display: block;
                cursor: pointer;
                margin-bottom: 5px;

                &::selection {
                    background: transparent;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                &:hover {
                    color: $dark-pink;
                }
            }
        }
    }

    textarea,
    code {
        max-width: 768px;
        width: 100%;
        min-height: 200px;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 20px 60px 20px 20px;
        overflow: visible;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        line-height: 1.2;
        text-align: left;
    }
}

textarea {
    background: transparent;
    height: auto;
    resize: none;
    color: $white;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    box-shadow: none;
    z-index: 2;

    &:-webkit-input-placeholder {
        color: rgba(255, 255, 255, 1);
    }

    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }
}

code {
    z-index: 1;
}

pre {
    padding-right: 60px;
}
</style>
