<template>
<div>    
    <vue-editor 
        v-model="content" 
        :editorToolbar="customToolbar" 
        :block="block" 
        :noteID="noteID" 
        ref="editor">
    </vue-editor>
</div>
</template>

<script>
import debounce from 'lodash.debounce'
import { api } from '@/api'
import { VueEditor } from "vue2-editor"

export default {
    name: 'PlainText',

    components: {
        VueEditor
    },

    props: {
        noteID: String,
        block: {
            id: Number,
            value: String,
            autofocus: Boolean,
        },
    },

    data() {
        return {
            content: '',
            customToolbar: [["bold", "italic", "strike"], [{'color': []}], [{ 'header': [1, 2, 3, 4, 5, 6, false] }], [{ list: "bullet" }]]
        }
    },

    created() {
        this.debounceContent = debounce(this.saveContent, 500)
        this.content = this.block.content        
    },

    mounted() {
        if (this.block.autofocus) {
            this.$refs.editor.quill.focus();
        }
    },


    methods: {
        saveContent() {
            if (this.content !== this.block.content) {
                api.post(
                    '/saveBlockContent',
                    { noteID: this.noteID, id: this.block.id, type: this.block.type, content: this.content },
                    { headers: { Authorization: this.$store.state.token } }
                ).then((response) => {
                    this.$emit('saveNoteEv')
                })
            }
        },
    },

    watch: {
        content() {
            this.debounceContent()
        },
    },
}
</script>

<style lang="scss">
.quillWrapper {    
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    .ql-toolbar {
        background: $white;
        color: $black-marlin !important;
        font: 12px $poppins !important;
        border-radius: 5px 5px 0 0;

        .ql-formats {
            vertical-align: middle !important;
        }

        button {
            padding-bottom: 0 !important;
            height: 18px !important;

            svg {
                width: 18px !important;
                height: 18px !important;
            }

            &.ql-active {
                color: $light-slate-blue !important;

                .ql-stroke {
                    stroke: $light-slate-blue !important;
                    stroke-width: 2px !important;
                }
            }
        }
    }

    .ql-container {
        background: $white;
        border-radius: 0 0 5px 5px;
        color: $black-marlin;
        font-family: $poppins;

        p, ul, li, a, {
            font-size: 14px;
        }
    }
}
</style>
