<template>
    <div class="options">
        <ul>
            <li>
                <img
                    src="@/assets/icons/icon_trash.svg"
                    alt="Delete current block"
                    @click="deleteBlock(blockId)"
                />
            </li>
            <li>
                <img
                    src="@/assets/icons/icon_plus.svg"
                    alt="Add new block"
                    @click="$emit('showTooltip')"
                />
            </li>
        </ul>
    </div>
</template>

<script>
import Notifications from '@/components/Notifications.vue'
import { mapActions } from 'vuex'
import { api } from '@/api'

export default {
    name: 'Options',

    props: {
        blockId: String,
    },

    components: {
        Notifications,
    },

    methods: {
        ...mapActions(['clearNotification', 'setNotification']),

        deleteBlock(id) {
            api.post('/deleteBlock', { id: id }, { headers: { Authorization: this.$store.state.token } }).then(
                (response) => {
                    const { message, type } = response.data
                    this.setNotification({ message, type })
                    this.$emit('deleteEl')
                }
            )
        },
    },
}
</script>

<style lang="scss">
.options {
    width: 25px;
    position: absolute;
    top: 5px;
    left: 15px;
    cursor: pointer;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li:not(:last-of-type) {
            margin-bottom: 10px;
        }

        img {
            max-width: 16px;
        }
    }
}
</style>