<template>
    <div class="container">
        <transition name="fade">
            <Notifications
                v-if="!notification.hide"
                :type="notification.type"
                :message="notification.message"
                v-on:removeNotifEv="clearNotification()"
            ></Notifications>
        </transition>

        <div class="grid">
            <div v-show="notes.length" class="card" v-for="(note, index) in notes" :key="note.id">
                <router-link
                    :to="{ name: 'Edit Note', params: { title: note.title, noteId: note.id }}"
                    class="card_grid"
                >
                    <span class="sub_title">{{ note.title }}</span>
                    <time>{{ toLocaleString(note.date_edited) }}</time>
                    <p v-if="!note.codeBlock">{{ note.content }}</p>

                    <div v-highlight class="editor" v-else>
                        <pre :class="'language-' + note.codeBlock.currLang">
              <code>{{ note.codeBlock.currCode }}</code>
            </pre>
                    </div>
                </router-link>

                <div class="actions">
                    <img
                        src="@/assets/icons/icon_trash.svg"
                        :alt="`Delete ${note.title}`"
                        class="remove"
                        @click="note.deleteConfirm = !note.deleteConfirm"
                    />
                    <span
                        :class="note.deleteConfirm ? '' : 'reverse-anim'"
                        @click="deleteNote(note.id, index)"
                    >Delete</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Notifications from '@/components/Notifications.vue'
import moment from 'vue-moment'
import { api } from '@/api'
import { mapActions } from 'vuex'

export default {
    name: 'ContainerNotes',

    components: {
        Notifications,
    },

    data() {
        return {
            notes: [],
        }
    },

    mounted() {
        api.get('/notes', { headers: { Authorization: this.$store.state.token } }).then((response) => {
            this.notes = response.data
            this.notes.forEach((el) => {
                if (el.content.includes('{') && el.content.includes('}')) {
                    this.$set(el, 'codeBlock', JSON.parse(el.content))
                }
                this.$set(el, 'deleteConfirm', false)
            })
        })
    },

    computed: {
        notification() {
            return this.$store.state.notification
        },
    },

    methods: {
        ...mapActions(['clearNotification', 'setNotification']),

        deleteNote(id, index) {
            api.post('/deleteNote', { id: id }, { headers: { Authorization: this.$store.state.token } }).then(
                (response) => {
                    if (response.data.error) {
                        console.log(response.data.error)
                    } else {
                        const { message, type } = response.data
                        this.setNotification({ message, type })
                        this.$delete(this.notes, index)
                    }
                }
            )
        },

        toLocaleString(datetime) {
            return new Date(datetime).toLocaleString()
        },
    },
}
</script>

<style lang="scss" scoped>
.container .grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 30px;
    position: relative;
}

.card {
    display: grid;

    p {
        word-break: break-all;
    }

    .editor {
        grid-area: content;
    }

    .actions {
        img.remove {
            cursor: pointer;
            margin-right: 10px;
        }

        span {
            color: $dark-pink;
            position: absolute;
            opacity: 0;
            animation: slideIn;
            animation-fill-mode: forwards;
            animation-duration: 0.3s;
            pointer-events: none;
            transform: translateX(-10px);
            cursor: pointer;

            &.reverse-anim {
                animation: slideOut;
                animation-fill-mode: forwards;
                animation-duration: 0.3s;
                pointer-events: none;
            }
        }

        @keyframes slideIn {
            from {
                transform: translateX(-10px);
                opacity: 0;
            }
            to {
                transform: translateX(0px);
                opacity: 1;
                pointer-events: auto;
            }
        }

        @keyframes slideOut {
            from {
                transform: translateX(0px);
                opacity: 1;
                pointer-events: auto;
            }
            to {
                transform: translateX(-10px);
                opacity: 0;
            }
        }
    }

    pre {
        white-space: nowrap;
    }

    code {
        white-space: pre-wrap;
    }
}
</style>