<template>
    <div class="login">
        <div class="content">
            <form @submit.prevent="login">
                <img src="@/assets/logo.svg" alt="Graphite" />
                <span class="error" v-if="error">{{ error }}</span>
                <input
                    type="email"
                    placeholder="email"
                    v-model="email"
                    v-bind:class="{ error: error }"
                />
                <input
                    type="password"
                    placeholder="password"
                    v-model="password"
                    v-bind:class="{ error: error }"
                />
                <button type="submit" class="btn">login</button>

                <a href="https://discordapp.com/api/oauth2/authorize?client_id=701015571415826512&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin&response_type=code&scope=identify" class="btn discord">
                    <img src="@/assets/icons/icon_discord.svg" alt="Sign in with Discord">
                    <span>Sign in with Discord</span>
                </a>
            </form>
        </div>
    </div>
</template>

<script>
import { api } from '@/api'

export default {
    name: 'LoginForm',

    data() {
        return {
            email: '',
            password: '',
            error: '',
        }
    },

    methods: {
        login() {
            const email = this.email,
                password = this.password

            this.error = ''

            if (!this.error) {
                api.post('/login').then((response) => {
                    if (response.data.error) {
                        this.error = response.data.error
                    } else {
                        // Store token
                        const token = response.data.token
                        localStorage.setItem('token', token)
                        this.$store.commit('SET_TOKEN', token)

                        // Store userInfo (avatar, blocks)
                        localStorage.setItem('userInfo', JSON.stringify(response.data.userInfo))
                        this.$store.commit('SET_USER_INFO', response.data.userInfo)
                        this.$router.push('/dashboard')
                    }
                })
            }
        },
    },

    computed: {
        user() {
            return this.$store.state.token
        },
    },
}
</script>

<style scoped lang="scss">
.content {
    max-width: 340px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        display: block;
        margin: 0 auto 40px;
    }

    input[type='email'] {
        margin: 0 0 40px 0;
    }

    button.btn {
        margin: 30px auto 0;
        display: block;
    }
}
</style>
