<template>
  <nav>
    <form>
      <img src="@/assets/icons/icon_search.svg" alt="Search your note">
      <input type="text" placeholder="find your note" @input="onInput" />
      <div class="dropdown dropdown--searchable" :class="isShowingNotes ? 'show' : ''"  @mouseleave="isShowingNotes = false">
        <span class="title">Search results</span>
        <ul>
          <li v-for="note in notes" :key="note.id">
            <router-link :to="{ name: 'Edit Note', params: { noteId: note.id }}">{{ note.title }}</router-link>
          </li>
        </ul>
      </div>
    </form>

    <div class="settings">
      <a href="#" class="settings--options" @click="isShowingSettings = !isShowingSettings">
        <img src="@/assets/icons/icon_hellip.svg" alt="options">
      </a>
      <a href="#" class="settings--avatar">
        <img :src="avatar" alt="Avatar">
      </a>

      <ul class="dropdown" :class="isShowingSettings ? 'show' : ''">
        <li><a href="#">settings</a></li>
        <li><a href="#" @click="logout">logout</a></li>
      </ul>
    </div>
  </nav>
</template>

<script>
import debounce from 'lodash.debounce'
import { api } from '@/api';

export default {
  name: 'Navigation',

  data() {
    return {
      isShowingSettings: false,
      isShowingNotes: false,      
      notes: []
    }
  },

  methods: {
    logout() {
      localStorage.removeItem('token');
      localStorage.removeItem('userInfo');
      this.$store.commit('CLEAR_USER', null)
      this.$router.push('/')      
    },

    onInput: debounce(function(e) {
      if(e.target.value.length < 3) {
        this.notes = []
        this.isShowingNotes = false
        return
      }

      api
        .post('/searchNotes', {'title': e.target.value}, {headers: {Authorization: this.$store.state.token}})
        .then(response => {               
          this.notes = []
          this.notes = response.data     
          this.isShowingNotes = true
        })
    }, 300)
  },

  computed: {
    avatar() {
      return this.$store.state.userInfo.avatar
    }
  }
}
</script>

<style lang="scss" scoped>
  form {
    grid-column: 1 / span 2;
    display: flex;
    flex: 30px 1;
    position: relative;

    input[type="text"] {      
      background: transparent;
      flex: 1;
      border: 0;
      box-shadow: 0px 0px 0px transparent !important;
      transition: color .2s;

      &:focus {
        color: $light-slate-blue;
        transition: color .2s;
      }
    }
  }

  .settings {
    grid-column: 10; 
    padding-right: 10px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    position: relative;

    a {
      text-decoration: none;
    }

    .settings--options {
      align-self: center;
      margin-right: 20px; 
    }

    .settings--avatar {

      img {
        width: 42px;
        height: 42px;
        vertical-align: middle;
        border-radius: 50%;
        box-shadow: 0px 2px 5px rgba(0,0,0, .5);        
        transition: box-shadow .2s;

        &:hover {
          box-shadow: 0px 0px 8px rgba(0,0,0, .7);
          transition: box-shadow .2s;
        }
      }
    }
  }

  .dropdown {
      display: none;
      background: $white;
      width: auto;
      position: absolute;
      left: 50%;
      bottom: -50px;
      transform: translateX(calc(-50% - 20px));
      margin: 0;
      padding: 5px 10px;
      list-style: none;
      text-align: left;
      border-radius: 5px;
      z-index: 1;
      box-shadow: 0px 2px 5px rgba(0,0,0, .3);

      &.show {
        display: block;
      }

      &--searchable {
        min-width: 360px;
        width: 100%;
        left: 0;
        bottom: unset;
        top: 50px;
        padding: 15px 0;
        transform: translateX(0);

        span.title {
          font-size: $normal + 2;
          font-weight: $medium;
          padding: 0 15px;          
        }
        
        ul {
          margin: 10px 0 0 0;
          padding: 0;

          li {
            padding: 0;           

            a {
              background: $white;
              font-size: $normal;
              display: block;
              padding: 5px 15px;
              transition: background .2s, color .2s;

              &:hover {
                background: $zircon;
                transition: background .2s, color .2s;
              }
            }
          }
        }
      }

      li {
        display: block;

        a {
          text-decoration: none;
          color: $black-marlin;
          font-size: $normal - 2;
          transition: color .2s;

          &:hover {
            color: $light-slate-blue;
            transition: color .2s;
          }
        }
      }
    }
</style>