<template>
    <div class="container">
        <transition name="fade">
            <Notifications
                v-if="!notification.hide"
                :type="notification.type"
                :message="notification.message"
                @removeNotifEv="clearNotification()"
            ></Notifications>
        </transition>

        <div class="input-overlay" v-if="blockTooltip" @click="blockTooltip = false"></div>
        <input type="text" class="block-input h1" placeholder="untitled note" v-model="title" />

        <input
            type="text"
            placeholder="type '+' to select a block"
            class="block-input"
            v-model="blockInput"
        />

        <div class="card block-tooltip" :class="blockTooltip ? 'show' : 'hide'">
            <ul>
                <li
                    v-for="(block, i) in blockTypesDefault"
                    :key="block.id"
                    :class="{ disabled: block.active !== 1 }"
                    @click="selectBlock(block.id)"
                >
                    <img :src="getBlockIcon(i)" :alt="block.name" />
                    <div>
                        <div class="title">{{ block.name }}</div>
                        <span>{{ block.name_explanation }}</span>
                    </div>
                </li>
            </ul>
        </div>

        <div
            class="component-wrapper"
            v-for="(block, index) in blocks"
            :key="block.id"
            @mouseover="block.showOptions = true"
            @mouseleave="block.showOptions = false"
        >
            <Options
                v-show="block.showOptions"
                :blockId="block.id"
                @deleteEl="deleteBlock(block.id, index)"
                @showTooltip="showTooltip"
            ></Options>
            <component
                :is="getBlockType(block.type)"
                :block="block"
                :noteID="noteID"
                @saveNoteEv="saveNote"
                style="margin-bottom: 30px;"
            ></component>
        </div>
    </div>
</template>

<script>
import BlockPlainText from '@/components/blocks/BlockPlainText.vue'
import BlockCode from '@/components/blocks/BlockCode.vue'
import Options from '@/components/blocks/Options.vue'
import Notifications from '@/components/Notifications.vue'
import { v4 as uuidv4 } from 'uuid'
import { mapActions } from 'vuex'
import { api } from '@/api'
import debounce from 'lodash.debounce'

export default {
    name: 'Note',

    beforeRouteUpdate(to, from, next) {
        this.fetchNote(to.params.noteId)
        next()
    },

    beforeRouteEnter(to, from, next) {
        next((vm) => {
            vm.fetchNote(to.params.noteId)
            vm.title = ''
            vm.blocks = []
        })
    },

    components: {
        BlockPlainText,
        BlockCode,
        Options,
        Notifications,
    },

    data() {
        return {
            noteID: '',
            title: '',
            tempTitle: '',
            blockInput: '',
            blockTooltip: false,
            blockTypesDefault: [],
            blocks: [],
            blockIcons: ['text', 'tdl', 'codeblock', 'image'],
        }
    },

    created() {
        this.debounceTitle = debounce(this.saveNote, 500)
    },

    mounted() {
        api.get('/blockTypes', { headers: { Authorization: this.$store.state.token } }).then((response) => {
            this.blockTypesDefault = response.data
        })
    },

    computed: {
        notification() {
            return this.$store.state.notification
        },
    },

    methods: {
        ...mapActions(['updateRecentNotes', 'clearNotification', 'setNotification']),

        showTooltip() {
            this.blockTooltip = !this.blockTooltip
        },

        selectBlock(type) {
            let newId = uuidv4()
            this.blocks.push({
                type: type,
                id: newId,
            })

            this.blocks.forEach((el) => {
                if (el.id === newId) {
                    this.$set(el, 'autofocus', true)
                    this.$set(el, 'showOptions', false)
                }
            })

            this.blockInput = ''
            this.blockTooltip = false
        },

        saveNote() {
            if (!this.title) {
                this.title = 'Untitled Note'
            }

            api.post(
                '/saveNewNote',
                { id: this.noteID, title: this.title, blocks_amt: this.blocks.length },
                { headers: { Authorization: this.$store.state.token } }
            ).then((response) => {
                const { message, type } = response.data
                this.setNotification({ message, type })
            })

            this.updateRecentNotes()
        },

        fetchNote(noteRouteId) {
            if (!noteRouteId) {
                this.noteID = uuidv4()
            } else {
                api.post(
                    '/fetchNote',
                    { id: noteRouteId },
                    { headers: { Authorization: this.$store.state.token } }
                ).then((response) => {
                    this.noteID = response.data[0].note[0].id
                    this.title = response.data[0].note[0].title
                    this.tempTitle = response.data[0].note[0].title
                    this.blocks = response.data[1].blocks

                    this.blocks.forEach((el) => {
                        this.$set(el, 'showOptions', false)
                    })
                })
            }
        },

        deleteBlock(id, index) {
            this.$delete(this.blocks, index)
        },

        getBlockType(type) {
            switch (type) {
                case 1:
                    return 'BlockPlainText'
                case 2:
                    return 'BlockToDoList'
                case 3:
                    return 'BlockCode'
                case 4:
                    return 'BlockImageGallery'
            }
        },

        getBlockIcon(id) {
            return require(`@/assets/icons/icon_block_select_${this.blockIcons[id]}.svg`)
        },
    },

    watch: {
        blockInput(e) {
            this.blockTooltip = false
            if (e.includes('+')) {
                this.blockTooltip = true
            }
        },

        title(e) {
            if (e !== this.tempTitle) {
                this.debounceTitle()
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.input-overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    z-index: 10;
    transform: translate(-30px, -30px);
}
.block-input {
    background: none;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: 0 !important;

    &:not(.h1) {
        margin-bottom: 30px;
    }

    &.h1 {
        font-size: 24px;
        font-weight: $semi-bold;
        margin-bottom: 40px;
    }

    &:focus,
    &:active {
        box-shadow: 0px 0px 0px transparent !important;
    }
}

.block-tooltip {
    max-width: 320px;
    min-height: 340px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 20px;
            margin-bottom: 25px;
            cursor: pointer;
            transition: color 0.2s;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:hover {
                color: $light-slate-blue;
                transition: color 0.2s;
            }

            &.disabled {
                opacity: 0.2;
                pointer-events: none;
            }

            img {
                & + div {
                    align-self: center;

                    .title {
                        font-size: 16px;
                    }

                    span {
                        font-size: 12px;
                        color: $shady-lady;
                    }
                }
            }
        }
    }
}
</style>
