<template>
    <div :class="{'error': type === 3, 'success': type === 2}" class="notification">
        <div class="close" @click="closeNotification">
            <img src="@/assets/icons/icon_close.svg" alt="Close" />
        </div>
        <p>{{ message }}</p>
    </div>
</template>

<script>
export default {
    name: 'Notifications',

    props: {
        type: Number,
        message: String,
    },

    mounted() {
        setTimeout(() => {
            this.$emit('removeNotifEv')
        }, 3500)
    },

    methods: {
        closeNotification() {
            this.$emit('removeNotifEv')
        },
    },
}
</script>

<style lang="scss">
.notification {
    background: $white;
    min-width: 200px;
    min-height: 60px;
    display: grid;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    &:before {
        content: '';
        width: 6px;
        height: 35px;
        background: $white;
        border-radius: 0px 2px 2px 0px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &.error:before {
        background: $dark-pink;
    }

    &.success:before {
        background: $apple;
    }

    p {
        width: 80%;
        margin: 0 auto;
        font-size: $normal - 1;
        align-self: center;
    }

    .close {
        width: 21px;
        height: 21px;
        background: $white;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        cursor: pointer;

        img {
            max-width: 16px;
            opacity: 0.8;
        }
    }
}
</style>