<template>
    <aside>
        <router-link to="/dashboard">
            <img src="@/assets/logo.svg" alt="Graphite" class="logo" />
        </router-link>

        <router-link :to="{ name: 'Create Note' }" class="btn">create note</router-link>

        <div class="aside--grid">
            <ul>
                <li>
                    <router-link to="/dashboard">dashboard</router-link>
                </li>
                <li>templates</li>
            </ul>

            <ul>
                <li>
                    quick access
                    <span>of your most recent edited notes</span>
                </li>

                <ul class="sub--list">
                    <li v-for="note in recentNotes" :key="note.id">
                        <router-link
                            :to="{ name: 'Edit Note', params: { title: note.title, noteId: note.id }}"
                        >{{ note.title }}</router-link>
                    </li>
                </ul>
            </ul>
        </div>
    </aside>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: 'Sidebar',

    mounted() {
        this.updateRecentNotes()
    },

    methods: {
        ...mapActions(['updateRecentNotes']),
    },

    computed: {
        recentNotes() {
            return this.$store.state.recentNotes
        },
    },
}
</script>

<style lang="scss" scoped>
img.logo {
    max-width: 90px;
    margin-bottom: 50px;
}

a.btn {
    min-width: 100%;
    margin-bottom: 40px;
}

.aside--grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li,
        a {
            display: block;
            font-size: $normal + 2;
            font-weight: $medium;
            color: $black-marlin;
            text-decoration: none;
            margin-bottom: 15px;
            transition: color 0.2s;

            &:hover {
                color: $light-slate-blue;
                transition: color 0.2s;
            }

            span {
                font-size: $normal - 2;
                font-weight: $normal;
                display: block;
            }
        }

        .sub--list {
            padding-left: 20px;

            li,
            a {
                margin-bottom: 5px;
                font-size: $normal;
                font-weight: $normal;
                position: relative;
                padding-left: 15px;
            }

            a {
                margin-bottom: 0;
            }

            li:before {
                content: '--';
                display: block;
                position: absolute;
                left: 0;
            }
        }
    }
}
</style>