<template>
    <div id="app">
        <div :class="session ? 'dashboard' : ''">
            <Navigation v-if="session"></Navigation>
            <Sidebar v-if="session"></Sidebar>
            <router-view />
        </div>
    </div>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue'
import Navigation from '@/components/Navigation.vue'

export default {
    components: {
        Sidebar,
        Navigation,
    },

    computed: {
        session() {
            return this.$store.state.token
        },
    },
}
</script>

<style lang="scss">
* {
    box-sizing: border-box; // Never forget
}

#app,
body {
    background: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $poppins;
    font-size: $normal;
    font-weight: $regular;
    color: $black-marlin;
    padding: 0;
    margin: 0;
    min-height: 100%;
}
</style>