/* Dashboard grid */

.dashboard {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 150px) repeat(9, 1fr);
    grid-template-rows: 80px 1fr 1fr;
    grid-template-areas:
        'sidebar sidebar nav nav nav nav nav nav nav nav nav nav'
        'sidebar sidebar container container container container container container container container container container'
        'sidebar sidebar container container container container container container container container container container';

    nav {
        background: $white;
        width: 100%;
        padding: 20px 20px 20px 0;
        grid-area: nav;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    aside {
        background: $white;
        width: 100%;
        padding: 20px;
        grid-area: sidebar;
    }

    .container {
        background: $zircon;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        grid-area: container;
        border-radius: 15px;
        padding: 30px;
        position: relative;

        .container {
            padding: 0;
        }

        .component-wrapper {
            position: relative;
            max-width: 900px;
            width: 100%;
            margin: 0 auto;
        }
    }
}
