/* Typography */

span.error {
  color: $dark-pink;
  display: block;
  margin-bottom: 5px;
}

.sub_title {
  display: block;
  font-weight: $semi-bold;
  color: $black-marlin;
  margin-bottom: 5px;
}

h1 {
  font-size: 24px;
  text-align: center;
}