/* Input styling */

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    height: 40px;
    border: 1px solid $shady-lady;
    color: $black-marlin;
    border-radius: 5px;
    padding: 0 20px;
    font: $normal $poppins;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
        border-color: $light-slate-blue;
        box-shadow: 0px 0px 10px rgba(93, 118, 255, 0.2);
        transition: border-color 0.2s, box-shadow 0.2s;
    }

    &.error {
        border-color: $dark-pink;
        box-shadow: 0px 0px 10px rgba(245, 74, 103, 0.2);
        transition: border-color 0.2s, box-shadow 0.2s;
    }
}

textarea {
    background: $white;
    max-width: 768px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 15px;
    color: $black-marlin;
    font: $normal $poppins;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Buttons */

.btn {
    background: $light-slate-blue;
    min-width: 200px;
    width: auto;
    height: 40px;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
    font: $normal + 2 $poppins;
    color: $white;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    transition: background 0.2s;

    &:hover {
        background: darken($light-slate-blue, 5%);
        transition: background 0.2s;
    }
}

a.btn {
    padding-top: 7px;

    &.discord {
        max-width: 200px;
        width: 100%;
        background: $discord;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        padding: 7px 10px;

        img {
            width: 24px;
            height: 24px;  
            margin: 0;         
        }

        span {
            font-size: 13px;
        }
    }
}

/* Cards */

.card {
    background: $white;
    width: 100%;
    height: 100%;
    grid-template-rows: auto 25px;
    grid-template-areas:
        'clickable'
        'actions';
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.2s;
    }

    a.card_grid {
        display: grid;
        grid-area: clickable;
        grid-template-areas:
            'title'
            'time'
            'content';
        grid-template-rows: repeat(2, 25px) auto;
        text-decoration: none;
        color: $black-marlin;
    }

    .sub_title {
        grid-area: title;
    }

    time {
        grid-area: time;
    }

    p {
        font-size: $normal - 2;
        grid-area: content;
    }

    .actions {
        grid-area: actions;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
