// Colors
// Color names from https://www.color-blindness.com/color-name-hue/
$black-marlin: #393846;
$dark-pink: #EB4A67;
$light-slate-blue: #5D76FF;
$shady-lady: #979797;
$white: #ffffff;
$zircon: #F2F3F4;
$apple: #A7D378;
$discord: #7289DA;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
$poppins: 'Poppins', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Font Sizes
$normal: 14px;
$h1: $normal + 10;

.show {
  display: block;
}

.hide {
  display: none;
}